<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{title}}
    <ul>
        {% for room in rooms %}
            <a href="/rooms/{{room.pk}}">{{room.name}}
                <br />
                {% for amenity in room.amenity.all %}
                    <span>{{amenity.name}}</span>
                {% endfor %}
            </a>
        {% endfor %} 
    </ul>
</body>
</html>