<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if not not_found %}
    <h1>{{room.name}}</h1>
    <h3>{{room.country}}//{{room.city}}</h3>
    <h4>{{room.price}}</h4>
    <p>{{room.description}}</p>
    <h5>{{room.category}}</h5>
    {% else %}
    <h1>Not Found</h1>
    {% endif %}
</body>
</html>